body {
	border-style: double;
	border-width: 5px;
	background-color: #eff5f5;
}

#pageTitle {
    border-style: solid;
    background-color: #c6c6ec;
    text-align: center;
    font-family: Times, Georgia;
    font-weight: bold;
	font-size: 50px;
}

#intro {
    font-family: Arial, Verdana, Helvetica
    text-indent: 36px;
}

.introText {
    text-indent: 80px;
    font-size: 24px;
    font-family: Arial, Verdana, Helvetica
}

.mainBody {
    font-size: 36px;
    text-align: center;
}

.socialLinks {
    background-color: #c6c6ec;
}

#socials {
    font-family: Arial, Verdana;
    text-align: center;
    font-size: 32px;
}

#instagram {
    text-align: center;
    font-size: 28px;
}
